@keyframes pulse {
      0% { opacity: .5; }
     50% { opacity: .8; }
     75% { opacity: .9; }
    100% { opacity: .8; }
}
@keyframes turn {
		  0% { transform: rotate(0deg); }
		 25% { transform: rotate(-1deg); }
		 50% { transform: rotate(0deg); }
		 75% { transform: rotate(+1deg); }
		100% { transform: rotate(0deg); }
}

svg.tc_svg_edit .node,
svg.tc_svg_edit .relative { 
	opacity: 0.1;
}
svg.tc_svg_edit .element.selected {
	filter: drop-shadow(0px 0px 2px black);
}

svg.tc_svg_edit .node.previous {
	animation: pulse 1s infinite linear;
}

svg.tc_svg_edit:hover .node,
svg.tc_svg_edit:hover .relative { 
	opacity: 0.5;
}

svg.tc_svg_edit:hover .node:hover,
svg.tc_svg_edit:hover .relative:hover { 
	opacity: 1;
}

svg.tc_svg_edit:hover .node:hover { 
	cursor: move;
}

[data-tc-svg-edit-element-type-select] {
	border: 0px;
	background-color: #009;
	border-radius: 6px;
	box-shadow: 1px 4px #999;
	color: white;
	margin-bottom: 5px;
}
[data-tc-svg-edit-element-type-select]:hover {
	background-color: #00F;
}
[data-tc-svg-edit-element-type-select].selected {
	background-color: #00C;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}

.right_align_2em {
	display: inline-block;
	text-align: right;
	width: 2em;
}
