@keyframes pulse {
    0% {
        opacity: .5;
    }
  
    50% {
        opacity: .6;
    }
   
    75% {
        opacity: .9;
    }
   
    100% {
        opacity: .6;
    }
}


svg.tc_svg_edit .node { 
	opacity: 0.1;
}
svg.tc_svg_edit .node.previous { 
	animation: pulse 1s infinite linear;
}

svg.tc_svg_edit:hover .node { 
	opacity: 0.5;
}
svg.tc_svg_edit:hover .node:hover { 
	cursor: move;
	opacity: 1;
}

[data-tc-svg-edit-element-type-select] {
	border: 0px;
	background-color: #009;
	border-radius: 6px;
	box-shadow: 1px 4px #999;
	color: white;
	margin-bottom: 5px;
}
[data-tc-svg-edit-element-type-select]:hover {
	background-color: #00F;
}
[data-tc-svg-edit-element-type-select].selected {
	background-color: #00C;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}

.right_align_2em {
	display: inline-block;
	text-align: right;
	width: 2em;
}
