@keyframes pulse {
      0% { opacity: .5; }
     50% { opacity: .8; }
     75% { opacity: .9; }
    100% { opacity: .8; }
}
@keyframes turn {
	  0% { transform: rotate(0deg); }
	 25% { transform: rotate(-10deg); }
	 50% { transform: rotate(0deg); }
	 75% { transform: rotate(+10deg); }
	100% { transform: rotate(0deg); }
}

svg.tc_svg_edit .node,
svg.tc_svg_edit .relative { 
	opacity: 0.1;
	transform-origin: 50% 50%;
}
svg.tc_svg_edit .element.selected {
	filter: drop-shadow(0px 0px 2px black);
}

svg.tc_svg_edit .node.previous {
	filter: drop-shadow(0px 0px 1px black);
}

svg.tc_svg_edit:hover .node,
svg.tc_svg_edit:hover .relative { 
	opacity: 0.5;
}

svg.tc_svg_edit:hover .node:hover {
	opacity: 1;
}

svg.tc_svg_edit .relative.selected { 
	opacity: 1;
	filter: drop-shadow(0px 0px 2px black);
}



svg.tc_svg_edit:hover .node:hover { 
	cursor: move;
}

[data-tc-svg-edit-element-type-select] {
	border: 0px;
	background-color: #009;
	border-radius: 6px;
	box-shadow: 1px 4px #999;
	color: white;
	margin-bottom: 5px;
}
[data-tc-svg-edit-element-type-select]:hover {
	background-color: #00F;
}
.selected[data-tc-svg-edit-element-type-select] {
	background-color: #00C;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}
[data-tc-svg-edit-element-sub-type-select] {
	border: 0px;
	background-color: #090;
	border-radius: 6px;
	box-shadow: 1px 4px #999;
	color: white;
	display: none;
	margin-bottom: 5px;
}


[data-tc-svg-edit-element-sub-type-select]:hover {
	background-color: #0C0;
}
[data-tc-svg-edit-element-sub-type-select].selected {
	background-color: #0A0;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}

.selected [data-tc-svg-edit-element-sub-type-select] {
	display: inline;
}


.right_align_2em {
	display: inline-block;
	text-align: right;
	width: 2em;
}
